@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Khmer', sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div{
    display: flex;
}    

/* form */
.login-form{
    min-width: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login h2{
    margin: 0;
    color: rgb(34, 34, 34);
    margin-left: 22px;
    font-weight: 400;
}
hr{
    margin-top: 0;
    margin-left: 22px;
    margin-right: 275px;
    margin-bottom: 30px;
    border-color: #d3832e ;
}
input{
    width: 270px;
    padding: 10px 0px;
    padding-left: 28px;
    border: none;
    border-bottom: 1px solid gainsboro;
}
input::placeholder{
    font-family: 'Noto Sans Khmer', sans-serif;
}
.email{
    margin-bottom: 20px;
}
i{
    position: relative;
    left: 22px;
    color: #d3832e ;
}
.forgot-pass p{
    margin-left: 20px;
    font-size: 12px;
    margin-top: 8px;
    font-weight: 600;
    color: #d3832e ;
}
.log-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-btn button{
    width: 280px;
    padding: 8px;
    margin-top: 25px;
    background-color: #d3832e ;
    border: none;
    color: #f5f5f5;
    font-family: 'Noto Sans Khmer', sans-serif;
    font-size: 14px;
    border-radius: 5px;
}
.account p{
    color: rgb(124, 124, 124);
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 600;
}
.account a{
    color: #d3832e ;
    text-decoration: none;
}
/* photo-div */
.photo-div{
    min-width: 400px;
    min-height: 400px;
    background-image: url("../image/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-text{
    min-width: 400px;
    min-height: 400px;
    background-color: #d3832e59;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-text-child{
    
    text-align: center;
    color: whitesmoke;
}
.photo-text-child h1{
    margin: 0;
}
.photo-text-child p{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
}